body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    color: #434455;
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* HEADER */

.logo{
    color:#4D5AE5;
    font-family: "Raleway", sans-serif ;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}
.logo-studio{
    color: #2E2F42;
}
.nav-link{
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.nav-link:focus{
    color: #404BBF;
}
.nav-link:hover {
    color: #404BBF;
}
.address{
    font-style: normal
}
.nav-adress{
    color:#434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.nav-adress:active{
    color:#404BBF;
}
.nav-adress:hover {
    color: #404BBF;
}


/* HERO-SECTION */

.hero-section{
    background-color: #2E2F42;
}

.hero-title{
    color: #FFFFFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center
}

.hero-button{
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.hero-button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
    
}
.hero-button:focus{
    background-color: #404BBF;
}

/* OUR ADVANTAGES */

.our-advantages-section{
    background-color: #fff;
}
.section-advantages-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.advantages-title{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0.4px;
}
.advantages-text{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* OUR TEAM */

.our-team-section{
    background-color: #F4F4FD;
}
.team-title{
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center
}
.team-cart{
    background-color: #FFFFFF;
}
.name-team-title{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.prof-name-title{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* Our portfolio */
.our-porfolio-section{
    background-color: #FFFFFF;
}
.portfolio-title{
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
.service-title{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.option-text{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
/* FOOTER */
.footer-section{
    background-color: #2E2F42;
}

.logo-studio-footer{
    color: #F4F4FD;
}
.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}