:root { 
--main-background-color:  #FFFFFF;
--sec-background-color:#F5F4FA; 
--dark-background-color:#2F303A;  
--accent-color: #2196F3;
--main-color: #212121;
--secondary-color: #757575; 
}

body { background-color: var(--main-background-color);}
a { text-decoration:none;}
li {list-style:none; 
font-family: Roboto;}


/*header*/

.logostart{color:var(--main-color) ;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    cursor: pointer }
.logoweb { color: #2196F3;} 
.list-footer{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}
.link {color: #212121;
    text-decoration: none}
.link:focus,
.link:hover { color: var(--accent-color);} 
.link:visited { color: var(--main-color);}
    

.contact-link { color:var(--secondary-color);}
.contact-link:focus,
.contact-link:hover { color: var(--accent-color);}

/*hero*/

.hero {background-color: var(--dark-background-color); }
.slogan { color: var(--main-background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-family: Roboto;}

.button-top:focus,
.button-top:hover { color: var(--main-background-color); background-color: var(--accent-color);} 
.button-top { background-color:var(--sec-background-color);
color:var(--main-color);
cursor: pointer }

.button-studio
{ background-color: var(--accent-color);
color: var(--main-background-color);
}

/*Features*/

.section-features { background-color: var(--main-background-color);}
.title-list { color: var(--main-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;}
.text-title { color: var(--secondary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;}

/*What are we doing*/

.section-benefits {background-color: var(--main-background-color); 
    font-family: Roboto;}
.coding-photo { width: 370px;}

/*Our team section*/

.team-section { background-color: var(--sec-background-color);}
.name-list { color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;}
.prof-list {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
 }
 .team-ptoto { width: 270px;}

/*Footer */

.footer {background-color: var(--dark-background-color);
}
.studio-footer { color:var(--main-background-color)}

.adress-footer { color: var(--main-background-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;}

/*button*/
.button-portf:focus,
.button-portf:hover { color: #2196F3; }







